#imag-1 {
    width: 300px;
    height: 300px;
    background-image: url(./pieza-de-rompecabeza-1.png);
    background-repeat: no-repeat;
    position: absolute;
    left: 37%;
    top: 20px;
}

#imag-2 {
    width: 300px;
    height: 300px;
    background-image: url(./pieza-de-rompecabeza-2.png);
    background-repeat: no-repeat;
    position: absolute;
    left: 45%;
    top: 20px;
}

#imag-3 {
    width: 300px;
    height: 300px;
    background-image: url(./pieza-de-rompecabeza-3.png);
    background-repeat: no-repeat;
    position: absolute;
    right: 810px;
    top: 170px;

}

#imag-4 {
    width: 300px;
    height: 300px;
    background-image: url(./pieza-de-rompecabeza-4.png);
    background-repeat: no-repeat;
    position: absolute;
    left: 710px;
    top: 116px;
}