body {
    margin: 0%;
}

nav {
    text-align: center;
    color: black;
    padding: 15px;
}

header {
    border: 1px solid rgb(12, 58, 196);
    background-image: linear-gradient(45deg, #0bd, #fff);
    border-radius: 5px;
    height: 50px;
}

#item-1 {
    border: 1px;
    background-image: linear-gradient(45deg, blue, aqua);
    width: 30%;

}

#barra {
    background-color: aqua;
    border-radius: 7px;
}

#act4 {
    margin: 0%;
    background-color: aqua;
    height: 300px;
    width: 30%;
    text-align: center;
    position: relative;
    left: 70%;
    bottom: 263px;
}

#br {
    padding: 20px;
}

a {
    color: black;
    font-size: 25px;
}


#imag-1 {
    width: 300px;
    height: 300px;
    background-image: url(./pieza-de-rompecabeza-1.png);
    background-repeat: no-repeat;
    position: absolute;
    left: 37%;
    bottom: -119px;
}

#imag-2 {
    width: 300px;
    height: 300px;
    background-image: url(./pieza-de-rompecabeza-2.png);
    background-repeat: no-repeat;
    position: absolute;
    left: 45%;
    bottom: -119px;
}

#imag-3 {
    width: 300px;
    height: 300px;
    background-image: url(./pieza-de-rompecabeza-3.png);
    background-repeat: no-repeat;
    position: absolute;
    left: 801px;
    bottom: -270px;

}

#imag-4 {
    width: 300px;
    height: 300px;
    background-image: url(./pieza-de-rompecabeza-4.png);
    background-repeat: no-repeat;
    position: absolute;
    left: 705px;
    bottom: -215px;
}