div {
    background-color: #49e;
    height: 100px;
    width: 100px;
    border: 1px solid #000;
}

#caja1 {
    position: relative;
    left: 45%;
}

#caja2 {
    position: relative;
    left: 95%;
    top: 310px;
}

#caja3 {
    position: relative;
    left: 45%;
    top: 615px;
}

#caja4 {
    position: relative;
    top: 105px;

}

#padre-2 {
    position: relative;
    left: 45%;
    bottom: 150px;
}

#br-2 {
    position: relative;
    top: 102px;
}

#br-3 {
    position: absolute;
    right: 70px;
    top: 20px;
}